@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: 
    "title title"
    "content content"
    "footer footer";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 100%;
    background-color: #492EDA;
}
header{
    color: white;
    grid-area: title;
    background-color: #AB25E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    border-bottom: 3px solid #770fa3;
}
main{
    display: grid;
    grid-area: content;
    grid-template-areas: 
    "text aside"
    "form form";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 30vw;
    padding-bottom: 30px;
}
.nav_bar{
    font-size: 0.8rem;
    text-transform: uppercase;
}
.nav_bar a{
    text-decoration: none;
    color: white;
    padding-right: 5px;
}
.nav--special{
    border: 3px solid white;
    padding: 5px;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: rgb(119, 15, 163);
}
.nav--special:hover{
    border: 3px solid rgb(175, 134, 209);
    color: rgb(175, 134, 209);
    transition: .5s;
}
.text{
    color: white;
    grid-area: text;
    background-color: #492EDA;
    text-align: justify;
    padding: 15px ;
    padding-left: 30px;
    line-height: 4vw;
}
h1{
    padding: 5px;
}

.aside{
    grid-area: aside;
    color: white;
    background-color: #492EDA;
}
.form{
    grid-area: form;
    background-color: whitesmoke;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: fit-content;
    font-size: 0.8rem;
    border: 1.5px solid #215ec2;
    border-radius: 8px;
    padding-bottom: 30px;
}
.form fieldset{
    border: none;
    padding: 10px;
    color: black;
    font-weight: bold;
    width: 99%;
}
.input{
    width: 90%;
    height: 2rem;
    margin: 5px;
    font-size: 1rem;
    padding: 3px;
}
.input:hover{
    background-color: whitesmoke;
    transition: .5s;
}
.input:focus{
    outline: 1px solid rgb(148, 148, 148);
    background-color: rgb(213, 211, 211);
    transition: .5s;
}
fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}
.container input{
    border-radius: 8px;
    border: 1px solid rgb(169, 166, 166)
} 
.text_area{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.text_area textarea{
    width: 96%;
}
.text_area textarea:hover{
    background-color: whitesmoke;
    transition: .5s;
}
.text_area textarea:focus{
    outline: 1px solid rgb(148, 148, 148);
    background-color: rgb(213, 211, 211);
    transition: .5s;
    font-family: 'Poppins', sans-serif;
}

.terms{
    position: relative;
    right: 28.5vw;
}
.submit{
    position: relative;
    left: 3vw;
}

.submit button{
    width: 8vw;
    height: 3vw;
    border-radius: 8px;
    border: 1.5px solid blue;
    background-color: #6e5bdc;
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.submit button:hover{
    background-color: #5b4bb6;
    transition: 0.5s;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7B26F0;
    color: white;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 3px solid #770fa3;
}

.logo{
    width: 12rem;
}
.aside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside img{
    width: 70%;
}
.terms .label a{
    text-decoration: none;
}
.terms .label a:hover{
    color: #7269a7;
    text-decoration: underline;
}