@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: 
    "title title"
    "content content";
    grid-template-rows: 100px 1fr;
    background-color: #492EDA;
}
header{
    color: white;
    grid-area: title;
    background-color: #492EDA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
main{
    display: grid;
    grid-area: content;
    grid-template-areas: 
    "text aside"
    "form form";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 30vw;
}
.nav_bar{
    font-size: small;
    text-transform: uppercase;
}
.nav_bar a{
    text-decoration: none;
    color: white;
    padding-right: 5px;
}
.nav--special{
    border: 3px solid white;
    padding: 5px;
    border-radius: 15px;
    font-size: 300;
}

.text{
    color: white;
    grid-area: text;
    background-color: #492EDA;
    text-align: justify;
    padding: 15px ;
    padding-left: 30px;
    line-height: 4vw;
}
h1{
    padding: 5px;
}

.aside{
    grid-area: aside;
    color: white;
    background-color: #492EDA;
}
.form{
    grid-area: form;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: fit-content;
    font-size: small;
}
.form fieldset{
    border: none;
    padding: 10px;
    color: black;
    font-weight: bold;
    width: 99%;
}
.input{
    width: 90%;
    height: 2rem;
    margin: 5px;
}
fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}
.text_area{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.text_area textarea{
    width: 96%;
}
.terms{
    position: relative;
    right: 25vw;
}
.submit{
    position: relative;
    left: 8vw;
}
.submit button{
    width: 8vw;
    height: 3vw;
    border-radius: 8px;
    border: 1.5px solid blue;
    background-color: #6e5bdc;
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: bold;
}
