@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
*{ /*Configurações GLobais*/
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: /*Montando as posições do site*/
    "title nav"
    "content content"
    "footer footer";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 50% 50%;
    background-color: #492EDA;
}
header{
    color: white;
    grid-area: title;
    background-color: #AB25E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom-left-radius: 10px;
    border-bottom: 3px solid #770fa3;
}
main{
    display: grid;
    grid-area: content;
    grid-template-areas: 
    "text aside"
    "form form";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 30px;
}

/*Logo*/
.logo{
    width: 12rem;
}

/*Estilo da barra de navegação*/
#nav-list{

    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-bar{
    background-color: #AB25E6;
    grid-area: nav;
    font-size: 0.8rem;
    text-transform: uppercase;
    border-bottom-right-radius: 10px;
    border-bottom: 3px solid #770fa3;
    display: flex;
    justify-content: center;
}
#nav-bar a{
    text-decoration: none;
    color: white;
    padding-right: 5px;
    font-weight: bold;
}
#nav-bar a:hover{
    color: rgb(191, 189, 189);
    transition: .4s;
}
.nav--special{
    border: 3px solid white;
    padding: 5px;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: rgb(119, 15, 163);
}
.nav--special:hover{
    border: 3px solid rgb(175, 134, 209);
    color: rgb(175, 134, 209);
    transition: .5s;
}

/*Estilização dos textos do corpo da página*/
.text{
    color: white;
    grid-area: text;
    background-color: #492EDA;
    text-align: justify;
    padding: 15px ;
    padding-left: 30px;
    line-height: 4vw;
}
.text p{
    height: 26vw;
}
h1{
    padding: 5px;
}

/*Estilização do campo aside(onde se encontra  a imagem)*/
.aside{
    grid-area: aside;
    background-color: #492EDA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside img{
    width: 70%;
}

/*Estilização do campo de formulário*/
.form{
    grid-area: form;
    background-color: whitesmoke;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: fit-content;
    font-size: 0.8rem;
    border: 1.5px solid #215ec2;
    border-radius: 8px;
    padding-bottom: 30px;
}
fieldset{
    border: none;
    padding: 10px;  /*campo dentro do form*/
    color: black;
    font-weight: bold;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}


.input{
    width: 90%;
    height: 2rem; /*Estilização dos campos de entrada*/
    margin: 5px;
    font-size: 1rem;
    padding: 3px;
}
.input:hover{
    background-color: whitesmoke;
    transition: .5s;
}
.input:focus{
    outline: 1px solid rgb(148, 148, 148);
    background-color: rgb(213, 211, 211);
    transition: .5s;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}
.container input{
    border-radius: 8px;
    border: 1px solid rgb(169, 166, 166)
} 
.text_area{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.text_area textarea{
    width: 96%;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}
.text_area textarea:hover{
    background-color: whitesmoke;
    transition: .5s;
}
.text_area textarea:focus{
    outline: 1px solid rgb(148, 148, 148);
    background-color: rgb(213, 211, 211);
    transition: .5s;
    font-family: 'Poppins', sans-serif;
}

.terms{
    position: static;
    float: left;
    width: 100%;
    margin: 3px;
}
.submit{
    position: relative;
    left: 4vw;
    bottom: 41px;
    z-index: 1;
}

button{
    transition: .5s ease-in-out;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: 1.5px solid blue;
    background-color: #6e5bdc;
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 0.7rem;
}
button:hover{
    background-color: #5b4bb6;
    transition: 0.5s;
}

/*Estilização do footer*/
footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7B26F0;
    color: white;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 3px solid #770fa3;
}



.terms .label a{
    text-decoration: none;
}
.terms .label a:hover{
    color: #7269a7;
    text-decoration: underline;
}
#confirma{
    background-color: white;
    width: 90%;
    height: 1fr;
    padding: 10px;
    list-style: none;
    gap: 10px;
    font-size: 1.05rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 8px black;
}

#modal{

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 8px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.248);
    justify-content: center;
    align-items: center;  
}
#modal div{
    background-color: rgb(228, 213, 230);
    width: 1fr;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    border: 1.5px solid rgb(114, 113, 113);
}


#modal div #exit{
    margin: 2px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 8px;
    border: 1.5px solid blue;
    background-color: #6e5bdc;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
}
#modal button{
    margin: 10px;
}

#modal.active{
    display: flex;
}
button:disabled{
    background-color: gray;
    transition: .5s ease-in-out;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 794px) {
    h1{
        text-align: center;
    }
}



@media screen and (max-width:546px) {
    body{
        display: grid;
        grid-template-areas: /*Montando as posições do site*/
        "title title"
        "nav nav"
        "content content"
        "footer footer";
        grid-template-rows: 100px 50px 1fr 100px;
        grid-template-columns: 100%;
    }
    header{
        grid-area: title;
        border: none;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 0;
    }
    main{
        grid-template-areas: 
        "text text"
        "aside aside"
        "form form";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr ;
    }
    
    #nav-bar{
        grid-area: nav;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #nav-list{
        flex-direction: row;
        gap: 10px;

    }
}

@media screen and (max-width: 397px){
    .text h1{
        margin-bottom: 10px;
        line-height: 30px;
    }
    .text{
        padding-bottom: 31px;
    }
    .aside img{
        width: max-content;
    }
    #modal{
        z-index: 100000000;
    }
    #modal div{
        height: 80%;
        z-index: 1000000000;
    }
}

@media screen and (max-width: 368px){
    #nav-bar{
        font-size: 4vw;
    }
    #nav-bar ul{
        width: 100%;
    }
}